@import "tailwindcss";

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Gabarito", sans-serif;
}

.navbar {
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  border-bottom: solid black 1px;
  align-items: center;
  background-color: whitesmoke;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar__s1__title {
  color: #a435f0;
  font-weight: bold;
  /* text-shadow: 0px 0px 5px #a435f0; */
  font-size: 24px;
}

.navbar__s2 {
  padding: 10px;
  border: solid black 1px;
  border-radius: 30px;
  width: 50%;
  display: flex;
  gap: 10px;
}

.navbar__s2 input {
  border: none;
  width: 70%;
  font-size: 16px;
  background-color: transparent;
}

.navbar__s2 input:focus {
  outline: none;
}

.navbar__s3 {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar__s4 {
  display: none;
}

.navbar__s4:hover .navbar__s4__popup {
  display: block;
}

.navbar__s4__popup{
  
  position: absolute;
  top: 40px;
  right: 0px;
  width: 70px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: white;
  border-radius: 5px;
  z-index: 2;
  display: none;
}

.categories {
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: space-between;
  /* border-bottom: solid black 1px; */
}

.categories p {
  background-color: #a435f0;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border: solid #a435f0 1px;
  box-shadow: purple 0px 0px 10px;
}

.categories p:hover {
  transition: 1s;
  background-color: whitesmoke;
  color: black;
  border: #a435f0 solid 1px;
}

.sale_image img {
  width: 100%;
  height: 400px;
}

.sale_image {
  position: relative;
}

.sale_image__offer {
  position: absolute;
  width: 25%;
  border: solid black 2px;
  padding: 2%;
  background-color: rgb(241, 192, 77);
  top: 10%;
  right: 10%;
  border-radius: 10px;
  animation-name: zoom;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  /* animation-fill-mode: forwards; */
  opacity: 0;
}

@keyframes zoom {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.myorders {
  position: relative;
  cursor: pointer;
}

.profile__popup {
  position: absolute;
  width: 100px;
  right: 0px;
  top: 50px;
  background-color: white;
  border: solid black 1px;
  border-radius: 10px;
  padding: 5px;
  display: none;
  z-index: 2;
}

.profile:hover .profile__popup {
  display: block;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-top: 10px;
}

.card-container img {
  width: 200px;
  height: 200px;
}

.product-card {
  border: solid black 1px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.buttons button {
  padding: 5px;
  background-color: grey;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width : 100px;
}

.product-card img {
  width: 200px;
  height: 200px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border: solid black 1px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 200px;
} 

.product img {
  width: 200px;
  height: 200px;
}

.recommended {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.topics {
  padding: 10px;
}

.topics-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.topics-container p {
  padding: 5px;
  border: solid gray 1px;
  border-radius: 10px;
  background-color: rgb(250, 114, 207);
  text-align: center;
  flex-grow: 1;
  flex-basis: 25%;
  box-shadow: grey 0px 0px 10px;
}

.popular {
  padding: 10px;
}

.popular-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.popular-container img {
  width: 200px;
  height: 200px;
}

.popular-container div {
  padding: 10px;
}

.footer-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.footer {
  background-color: whitesmoke;
  color: black;
  padding: 10px;
  border-top: solid black 2px;
}

.footer-one p {
  margin: 10px;
}

.footer-two {
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap: 10px;
  align-items: center;
  justify-content: end;
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 800px) {
  body {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .navbar__s2,
  .navbar__s3 {
    display: none;
  }

  .categories {
    display: none;
  }

  .navbar__s4 {
    display: inline;
  }
}
